package main

import (
	"os"
	"fmt"
	"io/ioutil"

{{- if .Embed}}
	_ "{{.Module}}/statik"
	"github.com/rakyll/statik/fs"
{{- end}}
)

func main() {
	shim := Shim{
		Image: "{{.Image}}",
		Workdir: "{{.Workdir}}",
		Env: {{printf "%#v" .Env}},
		Volumes: {{printf "%#v" .Volumes}},
		Stdout: ioutil.Discard,
		Stderr: os.Stderr,
	}

	if err := run(shim); err != nil {
		fmt.Fprintln(os.Stderr, err)
		os.Exit(1)
	}
}

func run(shim Shim) error {
	if !shim.Exists() {
	{{- if .Embed}}
		statik, err := fs.New()
		if err != nil {
			return err
		}

		file, err := statik.Open("/image.tar.gz")
		if err != nil {
			return err
		}
		defer file.Close()

		err = shim.Load(file)
		if err != nil {
			return err
		}
	{{else if .Build}}
		err := shim.Build("{{.Build}}")
		if err != nil {
			return err
		}
	{{else}}
		err := shim.Pull()
		if err != nil {
			return err
		}
	{{end}}
	}

	return shim.Exec(os.Args[1:])
}
